<header class="page-header">
    <h2>{{pageTitle}}</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#/">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>{{pageTitle}}</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<h2>These are just place holder images. These are NOT Chan's work!</h2>


<div class="owl-carousel owl-theme owl-carousel-init">

    <div class="owl-item">
        <div class="item spaced">
            <img class="img-thumbnail" src="/public/img/deus_ex_mankind_divided-wallpaper-1920x1080.jpg"></img>
        </div>
    </div>

    <div class="owl-item">
        <div class="item spaced">
            <img class="img-thumbnail" src="/public/img/mclaren_p1_3-wallpaper-1920x1080.jpg"></img>
        </div>
    </div>


    <div class="owl-item">
        <div class="item spaced">
            <img class="img-thumbnail" src="/public/img/nvidia_5-wallpaper-1920x1080.jpg"></img>
        </div>
    </div>
</div>

<hr/>

<p>When Chan hurries up with his content, it will be shown here. So hurry up Chan! We want to see your sexy drawings of Hong.</p>
